<% include header.ejs %>

<div id="wrapper">
        <!-- Sidebar -->
      <% include side_bar.ejs %>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">     
                  <h1>Nom du produit : <%= categorie[0].categorie %></h1>
                  <form class="form-inline" action="/ModifyCategorieSite" method="POST">
                    <input type="hidden" value="<%= categorie[0]._id %>" name="id">
                    <input type="text" value="<%= categorie[0].categorie %>" placeholder="categorie" name="categorie">
                    <input type="text" value="<%= categorie[0].image %>" placeholder="image" name="image">
                    <button type="submit">Modifier</button>
                  </form>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>


</body>
</html>